2C2PClientWebApp/Service References/TCTPService/TCTPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserAgentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTransactionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticationKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ByCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateTimeFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateTimeTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ByStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>